source.count(QRegExp("\n"))*.[oa]
*.pyc
*.so


build-output
artemis-build-output
qt-env*

qt/*
qt



js-code-dump

artemis-code/Makefile
artemis-code/build/
artemis-code/dist/
artemis-code/js-code-dump

artemis-code/tests/system/fixtures/legacy-benchmarks/dragable-boxes/cache/*

WebKit/config.log

*sublime*
